.main-benner-wrap
	position: relative
	height: 100vh
	overflow: hidden
	@media only screen and (max-width: 767px) and (orientation: landscape)
		height: 200vh
	.svg-bg
		position: absolute
		left: 0
		top: 0
		width: 40%
		height: 100%
		background-repeat: no-repeat
	.img-bg
		width: 70%
		left: initial
		+breakpoint(large only)
			height: 100%
		+breakpoint(medium down)
			width: 100%
			position: relative
			height: 60%
			top: initial
			+translate(0,0)
		@media only screen and (max-width: 767px) and (orientation: landscape)
			height: 90%
			+translate(20%,0)

		+breakpoint(small only)
			+translate(30%,0)

	.columns
		position: relative
		height: 100vh
		+breakpoint(medium down)
			height: initial
	.content-banner
		+y-align
		width: 750px
		max-width: 100%
		.head-title-box
			opacity: 0
			+translate(-100%, -50%)
			.head-title
				font-size: 60px
				font-weight: 900
				line-height: 0.9

			.sub-title
				font-size: 18px
				font-weight: 600
				padding-top: 20px

			+breakpoint(xxlarge up)
				.head-title
					font-size: 70px
				.sub-title
					font-size: 30px
			+breakpoint(small only)
				+translate(0, -20%)
				.head-title
					font-size: 40px
				.sub-title
					font-size: 18px
					height: 90px
					padding-top: 10px
					overflow: hidden
		p
			+translate(-100%,-50%)
			padding: 10px 0 20px
			opacity: 0
			+breakpoint(small only)
				padding: 110px 0 0px

		.button
			padding: 15px 50px
			+breakpoint(small only)
				position: absolute
				top: 40%
		

		@media only screen and (min-width: 1430px) and (max-width: 1750px)
			+translate(0, -26%)
		+breakpoint(xlarge only)
			+translate(0, -40%)
		+breakpoint(large only)
			+translate(0, -30%)
		+breakpoint(medium down)
			position: relative
			width: 100%
			// margin-bottom: 50px
			top: initial
			+translate(0,0)

		+breakpoint(small only)
			+translate(0, 10%)
		@media only screen and (max-width: 767px) and (orientation: landscape)
			+translate(0, -20%)

	.bottom-scroll-arrow
		cursor: pointer
		z-index: 100
		+x-align
		bottom: 20px
		width: 70px
		height: 70px
		@media only screen and (max-width: 767px) and (orientation: landscape)
			display: none

.header-box
	+clearfix
	position: absolute
	top: 20px
	left: 0
	right: 0
	padding: 0 20px
	z-index: 100
	.logo
		float: left
		width: 100px
	.language-box
		float: right
		position: relative
		text-transform: uppercase
		svg
			width: 15px
			height: 15px
			vertical-align: middle
			+transition(.3s)
		&.black
			svg
				*
					fill: black
			.language-one
				color: black
		.language-one
			font-weight: 600
			color: white
			cursor: pointer
			padding: 10px 20px
			display: inline-block

		.hover-block
			position: absolute
			width: 100%
			opacity: 0
			pointer-events: none
			background-color: white
			+transition(.3s)
			border-bottom: 3px solid #445963
			
			.language-one
				color: rgba(#445963, 0.6)
				border-bottom: 1px solid #445963
				display: block
				text-align: center
				&:last-child
					border-bottom: 1px solid transparent
				&:hover
					color: #445963

		&.opened
			svg
				+rotate(180deg)
			.hover-block
				opacity: 1
				pointer-events: initial
				
		// &:hover
		// 	svg
		// 		+rotate(180deg)
			// .hover-block
			// 	opacity: 1
			// 	pointer-events: initial

	+breakpoint(xxlarge up)
		top: 50px
		padding: 0 50px
	+breakpoint(medium down)
		top: 20px
		padding: 0 10px
