.footer
	padding: 15px 30px
	background-color: #36464e
	color: rgba(white, 0.6)
	font-size: 12px
	font-weight: 300
	z-index: 10000
	.crieted-box
		display: inline-flex
		
		svg
			width: 30px
			height: 30px

		span
			margin-left: 10px

		&:hover
			color: white
			svg
				*
					fill: white

		+breakpoint(small only)
			padding: 15px 0

	.social-box
		span
			vertical-align: middle
		a
			display: inline-block
			vertical-align: middle
			svg
				width: 30px
				height: 30px


	.haw-to-use
		position: relative
		padding-bottom: 10px
		&:hover
			color: white
		+breakpoint(medium up)
			+x-align
			top: 25px
			color: rgba(white, 0.6)
			+transition(.3s)
		
	@media only screen and (max-width: 767px) and (orientation: landscape)
		.haw-to-use
			position: relative
			left: 0
			top: -10px
		.floated, .floated-right
			float: initial

	+breakpoint(small only)
		z-index: 1000000
		.floated, .floated-right
			float: initial
