.fixed-side-navbar
  position: fixed
  right: 0
  top: 50%  
  +translate(0,-50%)
  z-index: 9999
  cursor: pointer
  @media only screen and (max-width: 767px) and (orientation: landscape)
    display: none


  &:hover 
    background: white
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2)
    border-top-left-radius: 4px
    border-bottom-left-radius: 4px
    a
      color: rgba(#455a64, 0.8)
      span
        display: block
    
  a 
    min-height: 32px
    background: transparent
    padding: 5px 45px 5px 25px
    //border: 1px solid transparent;
    border-right: none
    position: relative
    display: block
    &:last-child
      opacity: 0

    span
      display: none

    &:after 
      content: ''
      position: absolute
      top: 50%
      right: 20px
      margin-top: -5px
      width: 10px
      height: 10px
      border-radius: 10px
      background: rgba(#455a64, 0.2)
      //border: 1px solid @dot-col1;
      transition: all .3s
      transform: scale(0.8)

    &:hover 
      text-decoration: underline

      span
        display: green


    &.active 
      color: rgba(#455a64, 0.8)
      &:before
        content: ''
        position: absolute
        top: 50%
        right: 17px
        margin-top: -8px
        width: 16px
        height: 16px
        background: transparent
        border: 2px solid rgba(#455a64, 0.4)
        border-radius: 10px

      &:after 
        transform: scale(0.9)
      



    