p
  font-family: 'Comfortaa', cursive
  font-weight: 300
  font-size: 14px
  line-height: 1.5

.title-box
  position: relative
  .gorizontal-line, .small-gorizontal-line
    position: absolute
    left: 0
    top: 25px
  .big-title 
    margin-left: 130px
    font-size: 48px
    font-weight: 700

  .title
    margin-left: 60px
    font-size: 24px
    font-weight: 800
    padding-bottom: 10px

  .small-gorizontal-line
    top: 11px


  +breakpoint(medium only)
    .gorizontal-line
      top: 20px
      width: 80px
    .big-title 
      font-size: 32px
      margin-right: 100px
  +breakpoint(small only)
    .gorizontal-line
      width: 65px
      top: 10px
    .big-title 
      font-size: 26px
      margin-left: 100px

.one-box
  position: relative
  background-color: white
  min-height: 270px
  border-radius: 15px
  padding: 50px
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1)

.owl-next, .owl-prev
  display: none

.map-container
  svg
    .region.active
      fill: #eaeaea
      opacity: 1 !important
      display: block !important
      path
        fill: #1b9bd8
    .location.active
      path
        fill: #1b9bd8


.svg-circl-bg
  position: absolute
  svg
    width: 100%
    height: 100%
  &.small-circle
    svg
      width: 100%
      height: 100%


.rules-page
  position: relative
  .svg-bg
    position: absolute
    left: 0
    top: 0
    width: 40%
    height: 100% 
    background-repeat: no-repeat
  
  .svg-figure
    position: absolute
    right: 0
    top: 0
    svg
      height: 600px
      width: 300px


  .svg-circl-bg
    left: 0
    bottom: 0

  .title-box
    margin: 150px 0 0 50px
  .content-rules
    position: relative
    background-color: white
    z-index: 10
    margin: 50px 0
    padding: 50px
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1)

  p
    margin: 10px 0

  h3
    margin: 20px 0

  +breakpoint(small only)
    .title-box
      margin: 150px 0 0 0
    .content-rules
      padding: 30px


