.popup-wrapper, .success-popup-wrap, .cookies_popup
  position: fixed
  width: 100%
  height: auto
  z-index: 9999
  opacity: 0
  pointer-events: none
  +transition(0.3s)
  &.visible
    opacity: 1
    pointer-events: initial
  .close-popup
    position: absolute
    top: 30px
    right: 30px
    width: 40px
    height: 40px
    cursor: pointer
    +transition(.3s)
    svg
      width: 100%
      height: 100%
    &:hover
      svg
        +rotate(180deg)
        fill: #F8F7F3

    &.mobile
      top: 15px
      right: 15px
      width: 25px
      height: 25px
      svg
        fill: white

.popup-wrapper, .success-popup-wrap
  min-height: 100vh

.cookies_popup
  padding: 20px 100px
  color: white
  bottom: 0
  z-index: 11111111111111111111
  .close-popup
    top: 50%
    width: 20px
    height: 20px
    +translate(0,-50%)
    svg
      fill: #445963
  +breakpoint(small only)
    padding: 20px 70px 20px 20px