.middle-wrap#about-us
  .svg-bg.medium style="background-image: url(#{asset_path('svg/cirles2.svg')})"
  / = inline_svg "svg/cirles2.svg"
  -ar=["background-image: url(#{asset_path('svg/TFC-Icns-1-v1.svg')})","background-image: url(#{asset_path('svg/TFC-Icns-2-v1.svg')})","background-image: url(#{asset_path('svg/TFC-Icns-3-v1.svg')})"]
  -k = 0
  .row
    - @features.each do |f|
      .large-4.columns
        .one-box.about-us-box-anim
          .img-bg style="#{ar[k]}"
          - k = k+1
          .title-box
            .small-gorizontal-line.blue-bg-gradient
            .title
              = raw f.feature_title
            p = f.feature_description
