.how-it-works-wrap.trigger2#how-it-works
  .svg-figure.medium.parallax-img2 = inline_svg "svg/thing1.svg"
  .svg-circl-bg.medium.parallax-img3 = inline_svg "svg/kruzhok_orange.svg"
  .svg-circl-bg.small-circle.medium.parallax-img4 = inline_svg "svg/kruzhok_blue.svg"
  .row
    .columns
      .title-box.title-anim2
        .gorizontal-line.blue-bg-gradient
        .big-title
          = raw first_value.third_section_description
        

      - images=['svg/step1icon.svg','svg/step2icon.svg','svg/step4icon.svg']
      - @howitwork.each_with_index do |h, index|
        .row
          .large-8.columns class=("large-push-#{index * 2}" if index > 0)
            .one-box.about2-anim
              .row
                .medium-3.columns
                  .img-box
                    .img-bg.icon-anim style="background-image: url(#{asset_path(images[index])})"
                .medium-9.columns
                  .steps.desktop 
                    = h.step
                  .title.title-anim-inner
                    = h.step_title.html_safe

                  .gorizontal-line.orange-bg-gradient

                  p.text-block-anim = h.ster_description