.bottom-wrap
  .img-bg style="background-image: url(#{asset_path('photo/orange_bg.png')})"
  .info-box
    .row
      .small-6.large-3.columns.about-us-box-anim
        .figure = raw @info.first.giveback_percent
        .title  = t("info.percents")
      .small-6.large-3.columns.about-us-box-anim
        .figure = raw @info.first.cities
        .title  = t("info.cities")
      .small-6.large-3.columns.about-us-box-anim
        .figure = @blah
        .title  = t("info.brands")
      .small-6.large-3.columns.about-us-box-anim
        .figure = raw @info.first.service
        .title  = t("info.service")
