.order-wrap#order-consultation
  .img-bg style="background-image: url(#{asset_path('photo/bg_footer.jpg')})"
  .form-box.orange-bg-gradient
    .title = t("contact_form.order-consultation")
    .sub-title 
      = t("contact_form.parnter-title-description")
      br
      = t("contact_form.parnter-title-description2")
    form.send-form action="/consultation" method="post" enctype="multipart/form-data"
      .input-field
        input#name name="name" required=""
        label = t("contact_form.order-consultation-name")
        span.bar
      .input-field
        input#phone type="number" name="phone" required=""
        label = t("contact_form.order-consultation-phone")
        span.bar
      .input-field
        input#email type="email" name="email" required=""
        label = t("contact_form.order-consultation-email")
        span.bar
      .input-field
        input#massage name="massage"
        label = t("contact_form.order-consultation-message")
        span.bar

      button.button.with-shadow.order type="submit"
        span = t("contact_form.order-consultation-submit")


  a.top-scroll-arrow.scroll-arrow.blue-bg-gradient href="#start" =inline_svg "svg/ic_keyboard_arrow_up_black_24px.svg"
