.partners-wrap.trigger4
  .row
    .columns
      .title-box.title-anim4
        .gorizontal-line.blue-bg-gradient
        .big-title 
          = raw first_value.partners_title
      .buttons-square-box.desktop
        .prev-btn.buttons-partners-anim#PrevArrow = inline_svg "svg/ic_keyboard_arrow_left_black_24px.svg"
        .next-btn.buttons-partners-anim#NextArrow = inline_svg "svg/ic_keyboard_arrow_right_black_24px.svg"

  .row
    .medium-6.columns
      ul.partners-slider.left-to
        - @partners.in_groups_of(6, false) do |group|
          li
            .row.collapse
              -group.each do |p|
                .columns.medium-4.small-6
                  a.square.partners-box-anim href="#{p.url}" 
                    img src=p.image.thumb
    .large-4.medium-6.columns.centered
      .right-part-slider
        p.text2-anim  =first_value.partners_description
        .button.orange-bg-gradient.with-shadow.popup-btn.btn-anim data-btn-attr="partner-form"
          span = t("contact_form.parnter-button")

