.testemonials-wrap.trigger3#reviews

  .carusel-btns.dib.float-right
    .row.columns-right
      .columns.medium-12
        .title.blue-text-gradient.dib.title-anim3 =first_value.reviews_title
        .gorizontal-line.orange-bg-gradient.dib.title-anim3
        .buttons-square-box#customNav.desktop
          .prev-btn.customPrevBtn.buttons-testemonials-anim = inline_svg "svg/ic_keyboard_arrow_left_black_24px.svg"
          .next-btn.customNextBtn.buttons-testemonials-anim = inline_svg "svg/ic_keyboard_arrow_right_black_24px.svg"

  .carusel-box.dib.float-left
      .img-bg.bg-anim style="background-image: url(#{asset_path('svg/thong.svg')})"
      ul.owl-carousel.owl-theme
        - @reviews.each do |p|
          li
            .one-box.testemonials-box-anim
              .head-info
                .user-info.dib
                  .title = p.name
                  .sub-title =p.job_position
                img src=p.image.thumb
              p =p.review_text
              .social-box
                - if p.instagram?
                  a href="#{p.instagram}" target="_blank" = inline_svg "svg/tfc-social-insta.svg"
                - if p.facebook?
                  a href="#{p.facebook}" target="_blank" = inline_svg "svg/tfc-social-face.svg"
