= render "main_benner"
= render "nav_box"
.about-us-wrap.trigger1.parallas_container#about-us
  .top-wrap
    .svg-figure.desktop.parallax-img style="background-image: url(#{asset_path('svg/thing4.svg')})"
    .row
      .large-8.columns.large-centered
        .title-box.title-anim
          .gorizontal-line.orange-bg-gradient
          .big-title
            = raw first_value.second_section_title 
        .row
          .medium-6.columns
            p.text-anim =first_value.second_section_description
          .medium-6.columns
            p.text-anim =first_value.second_section_description_right

  = render "features"
  = render "info"
= render "howitwork"
= render "review"
= render "be_advisor"
/ = render "partner"
= render "map_wrap"
= render "order"


