.rules-page.trigger2
	.svg-bg.medium.top-to-bottom style="background-image: url(#{asset_path('svg/cirles.svg')})"
	.svg-figure.medium.parallax-img2 = inline_svg "svg/thing1.svg"
	.svg-circl-bg.medium.parallax-img3 = inline_svg "svg/kruzhok_orange.svg"
	.header-box
		a.logo.fadeIn href=root_path = inline_svg "svg/logo1.svg"
		.language-box.black.fadeIn
			.language-one.active = I18n.locale
			= inline_svg "svg/lan_arrow.svg"
			.hover-block
				- I18n.available_locales.each do |locale|
					- active = I18n.locale == locale
					- tag_name =  active ? "span" : "a"
					- tag_attrs = {class: "locale-link"}
					- tag_attrs["href"] = locale.to_sym == I18n.default_locale.to_sym ? "/" : "/#{locale}"
					- tag_attrs["href"] = url_for(locale: locale)
					- locale_names = {uk: "УКР",ru: "РУС",en: "ENG",pl: "POL"}
					.language-one = content_tag(tag_name, locale_names[locale.to_sym], tag_attrs)


	.row
		.columns
			.title-box
			 	.gorizontal-line.orange-bg-gradient
			 	.big-title
			 		= t("rules.rule")
			 		span.blue-text-gradient = t("rules.use")
			.content-rules
				=raw @rules.rule
