<div class="form-box orange-bg-gradient">
  <div class="title">Login</div>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <form class="" action="index.html" method="post">
      <div class="input-field">
        <%= f.input :email, required: false, autofocus: true %>
        <span class="bar"></span>
      </div>
      <div class="input-field">
      <%=  f.input :password, required: false %>
        <span class="bar"></span>
      </div>

      <button class="button with-shadow" type="submit">
        <span> Log in</span>
        <% end %>
    </form>
</div>
