html
  height: 100%
body
  min-height: 100%
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  color: #445963
  flex-direction: column
  background: white
  overflow-x: hidden
  font-family: 'Montserrat', sans-serif
  .main-wrapper
    flex: 1
  &.visible-popup
    overflow: hidden
    position: relative
    &:before
      content: ""
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background-color: rgba(0,0,0,0.7)
      z-index: 300

@each $header, $font-size in (h1: 28px, h2: 24px, h3: 22px, h4: 20px, h5: 18px, h6: 16px)
  #{$header}, .#{$header}
    font-size: $font-size

.small
  font-size: 0.75rem
.smaller
  font-size: 0.875rem
.regular
  font-size: 1rem
.larger
  font-size: 1.125rem
.large
  font-size: 1.25rem

.Comfortaa
  font-family: 'Comfortaa', cursive
.Montserrat
  font-family: 'Montserrat', sans-serif
