.about-us-wrap
  +breakpoint(small only)
    padding-top: 100px

  .top-wrap
    position: relative
    .svg-figure
      position: absolute
      left: 0
      top: -170px
      height: 500px
      width: 400px
      background-repeat: no-repeat
      svg
        width: 300px
        height: 600px
      +breakpoint(xxlarge up)
        top: -110px
      +breakpoint(medium down)
        display: none
    .title-box
      padding-bottom: 30px
      @media only screen and (max-width: 767px) and (orientation: landscape)
        margin-top: 30px
    p
      +breakpoint(small only)
        padding-bottom: 20px

  .middle-wrap
    margin: 150px 0 100px
    position: relative
    .svg-bg
      position: absolute
      right: 0
      bottom: -150px
      z-index: -1
      svg
        width: 350px
        height: 600px
    .one-box
      overflow: hidden
      +breakpoint(medium down)
        margin-bottom: 20px
      .img-bg
        background-position: right
        background-size: contain
        right: -100px
      .title
        text-transform: uppercase
        font-size: 20px
      p
        max-height: 130px
        overflow: hidden
      @media only screen and (max-width: 767px) and (orientation: landscape)
        .one-box
          .title
            font-size: 16px
    +breakpoint(small only)
      margin: 50px 0 
      .one-box
        padding: 20px

  .bottom-wrap
    position: relative
    color: white
    .info-box
      position: relative
      z-index: 1
      padding: 100px 0
      .figure
        font-size: 80px
        font-weight: 600
        line-height: 1
        text-align: center
      .title
        text-transform: uppercase
        font-size: 24px
        font-weight: 600
        text-align: center
        @media only screen and (max-width: 767px) and (orientation: landscape)
          margin-bottom: 30px

      +breakpoint(xxlarge up)
        .figure
          font-size: 100px
        .title
          font-size: 20px
      +breakpoint(small only)
        padding: 40px 0 25px
        .figure
          font-size: 50px
        .title
          font-size: 15px
          margin-bottom: 30px
.how-it-works-wrap
  padding-top: 150px
  position: relative
  .svg-figure
    position: absolute
    right: 0
    top: 0
    svg
      height: 600px
      width: 300px


  .svg-circl-bg
    left: 0
    bottom: 0


  .title-box
    margin-bottom: 100px
    +breakpoint(small only)
      margin-bottom: 50px

  .one-box
    padding: 65px 50px 0
    margin-bottom: 50px
    .img-box
      position: relative
      padding-bottom: 100%
      bottom: 40px
      .img-bg
        background-size: contain
    .steps
      font-size: 120px
      font-weight: 800
      color: #f5f5f5
      position: absolute
      top: -32px
      right: -5px
      z-index: -1
      +breakpoint(medium only)
        font-size: 110px
    .title
      font-size: 24px
      display: inline-block
      font-weight: 600
      max-width: 100%
      vertical-align: middle
      text-transform: uppercase
      @media only screen and (max-width: 767px) and (orientation: landscape)
        font-size: 20px
    .gorizontal-line
      display: inline-block
      margin-left: 10px
      vertical-align: middle

    p
      margin-top: 20px

  +breakpoint(small only)
    padding-top: 50px
    .one-box
      padding: 50px 10px 0
      .img-box
        padding-bottom: 40%
      .title
        font-size: 16px
      p
        margin-bottom: 30px

.testemonials-wrap
  padding: 200px 0
  position: relative
  +clearfix
  .img-bg
    background-position: left
    background-size: contain
    &:before
      content: ""
      background-image: asset_url("svg/testimonials.svg")
      background-size: contain
      background-repeat: no-repeat
      display: block
      +x-align
      +translate(-10%,0)
      top: 0
      width: 400px
      height: 50%
      z-index: -1
      +breakpoint(xxlarge up)
        +translate(-75%,0)
    @media only screen and (min-width: 1201px) and (max-width: 1300px)
      left: -150px
    +breakpoint(large only)
      width: 70%
  .carusel-box
    width: 70%
    li
      padding: 10px
    .one-box
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
      position: relative
      padding: 30px
      .head-info
        position: absolute
        left: 30px
        img
          width: 60px
          height: 60px
          display: inline-block
          border-radius: 50%
          position: relative
          left: -10px
        .user-info
          text-align: left
          .title
            font-size: 21px
            font-weight: 600
            margin-bottom: 5px
          .sub-title
            font-size: 14px
            font-weight: 300
            text-align: left

      p
        text-align: left
        margin-top: 80px
        max-height: 85px
        overflow: hidden
      .social-box
        position: absolute
        left: 30px
        bottom: 30px
        svg
          width: 25px
          height: 25px
          margin-right: 5px
  +breakpoint(medium down)
    padding: 50px 10px
    .img-bg
      display: none
    .carusel-box
      width: 85%
      .one-box
        padding: 35px
  +breakpoint(small only)
    .carusel-box
      width: 100%
      .one-box
        padding: 10px
        .head-info
          text-align: left
          left: 15px
          p
            margin-top: 70px

  .carusel-btns
    margin-left: 50px
    .title
      font-size: 48px
      font-weight: 600
      margin-right: 10px
      margin-bottom: 10px
      line-height: 1.2
    +breakpoint(small only)
      margin-left: 0
      .title
        font-size: 26px


.partners-wrap
  // li
  .slide
    padding: 5px 50px 5px 5px
    .square
      +transition(.3s)
      +square
      margin: 10px
      position: relative
      svg
        fill: #b0bec5
        +centered-inside
      &:hover
        background-color: white
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
        border-radius: 10px
        svg
          fill: black

  .right-part-slider
    +translate(0,50%)
    p
      margin-bottom: 30px
    .button
      padding: 15px 50px
      +translate(35%,0)

    +breakpoint(medium down)
      +translate(0,0)
      .button
        +translate(0,0)
        padding: 15px 25px

    +breakpoint(small only)
      margin-top: 40px

.advisor-wrap
  padding: 100px 0
  +breakpoint(small only)
    padding: 0
  .content-box
    position: relative
    display: flex
    width: 900px
    max-width: 95%
    min-height: 520px
    margin: auto
    max-width: 100%
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1)
    border-radius: 15px
    .left-container, .right-container
      width: 50%
      position: relative
      border-top-left-radius: 15px
      border-bottom-left-radius: 15px
      overflow: hidden
      .img-bg
        background-position: top
    .right-container
      padding: 70px
      .title
        font-weight: 800
        font-size: 23px
        text-transform: uppercase
        +breakpoint(small only)
          font-size: 18px
      p
        margin: 50px 0

      .button
        // +translate(50%,0)


    .svg-circl-bg
      left: -215px
      z-index: -1
      width: 400px
      height: 400px
      +translate(0,55%)
      bottom: 10px
      background-position: center
      background-size: cover
      background-repeat: no-repeat

      &.small-circle
        left: initial
        width: 400px
        right: -215px
        top: 100px
        +translate(0,50%)
        z-index: 1

    +breakpoint(xxlarge up)
      width: 1200px
    +breakpoint(medium down)
      .right-container
        padding: 30px
        .button
          +translate(0,0)

    +breakpoint(small only)
      display: block
      .left-container, .right-container
        width: 100%

      .left-container
        padding-bottom: 100%
  
.map-wrap
  position: relative
  margin-top: 50px
  overflow: hidden
  .svg-bg
    position: absolute
    bottom: 0
    right: 0
    background-repeat: no-repeat
    background-position: right
    width: 55%
    height: 100%
    z-index: -1
    +breakpoint(medium down)
      width: 100%
      height: 78%
    +breakpoint(small only)
      background-position: bottom


  .title-box
    margin: 20px 0 5px
    svg
      width: 50px
      height: 30px
      position: absolute
      +scale(2)

    .title
      font-size: 21px
      font-weight: 600

    +breakpoint(small only)
      .title
        font-size: 18px
        margin: 20px 0 20px 50px

  .title-box-map
    text-align: right
    .big-title
      font-size: 48px
      font-weight: 600
      display: inline-block
      margin-right: 10px

    .gorizontal-line
      display: inline-block
      position: relative
      top: -9px
    +breakpoint(medium down)
      margin-bottom: 30px
    +breakpoint(small only)
      .big-title
        font-size: 26px
      .gorizontal-line
        top: -4px

  .sitys-btns, .border-crossing-point, .content-location, .stiys-loc-box
    margin-left: 50px
    +breakpoint(small only)
      margin-left: 0
  .button
    border: 1px solid rgba(#445963, 0.6)
    margin: 10px
    padding: 7px 25px
    span
      color: rgba(#445963, 0.6)
      text-transform: capitalize
    &.active
      background-color: rgba(#445963, 0.2)
      border: 1px solid transparent
    &:hover
      background-color: rgba(#445963, 0.2)
      border: 1px solid transparent
  
  .stiys-loc-box
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1)
    border-radius: 15px
    padding: 20px
    width: 400px
    max-width: 100%
    .inner-info
      display: none
      &.active
        display: block

  .content-location
    svg
      width: 30px
      height: 30px
      vertical-align: middle
      path
        fill: #FAAF3B
    .location
      border-bottom: 1px solid #FAAF3B
    p, a
      margin-left: 10px
    .tel
      display: block
      padding-bottom: 5px
      // span
      //   margin-left: 10px
      //   font-weight: 300
      //   font-size: 14px
  .map-container
    position: relative
    padding-bottom: 100%
    @media only screen and (max-width: 767px) and (orientation: landscape)
      margin-top: 100px

.order-wrap
  height: 100vh
  position: relative
  @media only screen and (max-width: 767px) and (orientation: landscape)
    height: 200vh
  +breakpoint(small only)
    height: 120vh
  .top-scroll-arrow
    border-radius: 50%
    background-color: red
    position: absolute
    bottom: 30px
    right: 30px
    width: 50px
    height: 50px
    svg
      width: 50px
      height: 50px
      fill: white
  .img-bg
    background-attachment: fixed
  +breakpoint(xxlarge up)
    height: 85vh
.form-box
  +xy-align
  padding: 60px
  border-radius: 15px
  .title
    color: white
    margin-bottom: 20px
    font-size: 30px
    font-weight: 600
  .sub-title
    color: rgba(white, 0.6)
    font-size: 14px
    font-weight: 300
    font-family: 'Comfortaa', cursive


  form
    .button
      background-color: white
      position: relative
      left: 50%
      +translate(-50%,0)
      padding: 15px 50px
      margin-top: 50px
      span
        color: black
      &:hover
        +translate(-50%,0)

  +breakpoint(xxlarge up)
    padding: 120px
  @media screen and (min-width: 1700) and (-webkit-min-device-pixel-ratio 2)
    padding: 75px
  +breakpoint(medium down)
    padding: 20px
    width: 90%

#div-6
  position: absolute
  top: -200px

.error-page
  height: 100vh
  position: relative
  .inner
    +xy-align
    text-align: center
    width: 100%
    .title
      font-size: 150px
      font-weight: 700
    p
      width: 600px
      max-width: 95%
      margin: 0 auto 50px