.advisor-wrap.trigger6#cooperation
	.content-box
		.svg-circl-bg.medium.parallax-img5 style="background-image: url(#{asset_path('photo/Circle2.png')})"
		.svg-circl-bg.small-circle.medium.parallax-img6 = inline_svg "svg/kruzhok_blue.svg"
		.left-container
			.img-bg style="background-image: url(#{asset_path('photo/tfc-girl.jpg')})"
		.right-container
			= raw first_value.partners_title

			p   =first_value.partners_description

			.button.orange-bg-gradient.with-shadow.popup-btn data-btn-attr="partner-form"
				span = t("contact_form.parnter-button")
