.footer.clearfix#div-7
  a.haw-to-use href=rules_path = t("haw-to-use")
  .floated
    a.crieted-box href="https://voroninstudio.eu/uk"
      = inline_svg "svg/voronin-logo.svg"
      span
        = t("social.studio1")
        br
        = t("social.studio2")
  .floated-right
    .social-box
      span = t("social.social1")
      a href=Social.first.facebook target="_blank" = inline_svg "svg/fb.svg"
      a href=Social.first.instagram target="_blank" = inline_svg "svg/insta.svg"
