.main-benner-wrap#start
  .svg-bg.medium.top-to-bottom style="background-image: url(#{asset_path('svg/cirles.svg')})"
  .img-bg.right-to-left style="background-image: url(#{asset_path('photo/banner-bg-3.png')})"

  .header-box
    .logo.fadeIn = inline_svg "svg/logo5.svg"
    .language-box.fadeIn
      .language-one.active = I18n.locale
      = inline_svg "svg/lan_arrow.svg"
      .hover-block
        - I18n.available_locales.each do |locale|
          - active = I18n.locale == locale
          - tag_name =  active ? "span" : "a"
          - tag_attrs = {class: "locale-link"}
          - tag_attrs["href"] = locale.to_sym == I18n.default_locale.to_sym ? "/" : "/#{locale}"
          - locale_names = {uk: "УКР",ru: "РУС",en: "ENG",pl: "POL"}
          .language-one = content_tag(tag_name, locale_names[locale.to_sym], tag_attrs)

  .row
    .columns.large-6.xlarge-5
      .content-banner
        .head-title-box.left-to-right
          =  raw first_value.main_banner_title
        p.left-to-right2  = raw first_value.main_banner_decsription

        .button.blue-bg-gradient.with-shadow.popup-btn.fadeBtn data-btn-attr="order-form"
          span = t("contact_form.order-consultation")


  a.bottom-scroll-arrow.scroll-arrow.desktop href="#about-us" = inline_svg "svg/arrows-test.svg"
