.map-wrap#how-to-find-us.trigger5
  .row
    .columns.large-6.large-push-6
      .title-box-map.title-anim5
        .big-title
          = raw first_value.find_us
        .gorizontal-line.orange-bg-gradient

  .row
    .large-6.columns

      .title-box.left-to2
        = inline_svg "svg/icon_loc.svg"
        .title   = t("contacts.cities-title")

      .sitys-btns.tab-buttons.left-to2

        .button.tab-button.active data-region-btn="warsaw" data-loc-btn="warsaw"
          span = t("contacts.warsaw")

        .button.tab-button data-region-btn="krakow" data-loc-btn="krakow"
          span = t("contacts.krakiv")

        .button.tab-button data-region-btn="lublin" data-loc-btn="lublin"
          span = t("contacts.lublin")

        .button.tab-button data-region-btn="chelm" data-loc-btn="helm"
          span = t("contacts.chelm")

        .button.tab-button data-region-btn="przemysl" data-loc-btn="przemysl"
          span = t("contacts.przemysl")

      .stiys-loc-box.left-to2
        .inner-info.region.active data-region="warsaw"
          p = @warsaw.address
          -if @warsaw.phone?
            p #{t("contacts.tel")} #{@warsaw.phone}
        .inner-info.region data-region="krakow"
          p = @krakow.address
          -if @krakow.phone?
            p #{t("contacts.tel")} #{@krakow.phone}
        .inner-info.region data-region="lublin"
          p = @lublin.address
          -if @krakow.phone?
            p #{t("contacts.tel")} #{@lublin.phone}
        .inner-info.region data-region="chelm"
          p = @chelm.address
          -if @chelm.phone?
            p #{t("contacts.tel")} #{@chelm.phone}
        .inner-info.region data-region="przemysl"
          p = @przemysl.address
          -if @przemysl.phone?
            p #{t("contacts.tel")} #{@przemysl.phone}

      / .title-box.left-to2
      /   = inline_svg "svg/icon_loc2.svg"
      /   .title = t("contacts.cordon")

      / .border-crossing-point.left-to2

      /   .button.tab-button data-region-btn="przemysl" data-loc-btn="qw"
      /     span = t("contacts.grubeshiv")

      /   .button.tab-button data-region-btn="przemysl" data-loc-btn="meduca"
      /     span = t("contacts.meduka")

      /   .button.tab-button data-region-btn="lublin" data-loc-btn="drog"
      /     span = t("contacts.drogusk")


      .title-box.left-to2
        = inline_svg "svg/icon_loc3.svg"
        .title = t("contacts.adress")

      .content-location.left-to2
        - @adress.each do |a|
          p = a.address
          / a.orange-text-gradient.left-to.location href="#{a.url}"  = t("contacts.showmap")
          / = inline_svg "svg/icon_loc3.svg"

      .title-box.left-to2
        = inline_svg "svg/phone.svg"
        .title = t("contacts.phone")

      .content-location.left-to2
        - @phones.each do |p|
          / p = p.phone\
          .tel  
            a href="tel:#{p.phone}" = p.phone
            p.dib = p.description


    .large-6.columns
      .map-container.right-to2
        -if I18n.locale == :uk
          .img-bg = inline_svg "svg/TaxFree-map.svg"
        -elsif I18n.locale == :ru 
          .img-bg = inline_svg "svg/TaxFree-map-ru.svg"
        -elsif I18n.locale == :pl 
          .img-bg = inline_svg "svg/TaxFree-map-pl.svg"
        -else I18n.locale == :en
          .img-bg = inline_svg "svg/TaxFree-map-en.svg"
        / .img-bg = inline_svg "svg/TaxFree-map-ru.svg"
        / .img-bg = inline_svg "svg/TaxFree-map-en.svg"
        / .img-bg = inline_svg "svg/TaxFree-map-pl.svg"

  .svg-bg.right-to style="background-image: url(#{asset_path('svg/thing3.svg')})"
