.fixed-side-navbar.desktop
  nav.anchor-nav role="navigation"
    a href="#intro" id="intro-anchor"
      span = t("label.first")
    a href="#about-us" id="anchor1"
      span = t("label.second")
    a href="#how-it-works" id="anchor2"
      span = t("label.third")
    a href="#reviews" id="anchor3"
      span = t("label.fourth")
    a href="#cooperation" id="anchor4"
      span = t("label.fifth")
    a href="#how-to-find-us" id="anchor5"
      span = t("label.sixth")
    a href="#order-consultation" id="anchor6"
      span = t("label.seven")
    a href="#div-7" id="anchor7"
      span end
