.popup-wrapper data-form-attr="order-form"
  .close-popup.desktop = inline_svg "svg/close-orange.svg"
  .form-box.orange-bg-gradient
    .close-popup.mobile = inline_svg "svg/close.svg"
    .title = t("contact_form.order-consultation")
    .sub-title 
      = t("contact_form.parnter-title-description")
      br
      = t("contact_form.parnter-title-description2")

    form.send-form action="/consultation" method="post" enctype="multipart/form-data"
      .input-field
        input#name name="name" required=""
        label = t("contact_form.order-consultation-name")
        span.bar
      .input-field
        input#phone name="phone" type="number" required=""
        label = t("contact_form.order-consultation-phone")
        span.bar
      .input-field
        input#email name="email" type="email" required=""
        label = t("contact_form.order-consultation-email")
        span.bar
      .input-field
        input#massage name="massage"
        label = t("contact_form.order-consultation-message")
        span.bar

      button.button.with-shadow.order type="submit"
        span = t("contact_form.order-consultation-submit")