.popup-wrapper data-form-attr="partner-form"
  .close-popup = inline_svg "svg/close-orange.svg"
  .form-box.orange-bg-gradient
    .title = t("contact_form.partner-title")
    .sub-title 
      = t("contact_form.parnter-title-description")
      br
      = t("contact_form.parnter-title-description2")
    form.send-form action="/partnerform" method="post" enctype="multipart/form-data"
      .input-field
        input#PartnerName name="PartnerName" required=""
        label = t("contact_form.order-consultation-name")
        span.bar
      .input-field
        input#PartnerPhone type="number" name="PartnerPhone" required=""
        label = t("contact_form.order-consultation-phone")
        span.bar
      .input-field
        input#PartnerEmail type="email" name="PartnerEmail" required=""
        label = t("contact_form.order-consultation-email")
        span.bar
      .input-field
        input#PartnerMassage name="PartnerMassage" required=""
        label = t("contact_form.order-consultation-message")
        span.bar

      button.button.with-shadow.order type="submit"
        span = t("contact_form.order-consultation-submit")
