-if @seo
  - if @seo.title.present?
     title
      = raw @seo.title
  - if @seo.keywords.present?
     meta name="keywords" content=@seo.keywords
  - if @seo.description.present?
     meta name="description" content=@seo.description
	 	 