doctype html
html
	head
		/ = seo_tags
		meta name="viewport" content="width=device-width, initial-scale=1.0"

		= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true
		= csrf_meta_tags
		= render "layouts/seo_tags"
		script async src="https://www.googletagmanager.com/gtag/js?id=UA-119877724-1"

		meta property="og:image" content=asset_path("photo/TFC-facebook-banner.jpg")
		meta property="og:title" content="TaxFreeClub» — сервіс професійного шопінгу для іноземців"
		meta property="og:site_name" content="TaxFreeClub"
		link rel="icon" type="image/png" href=asset_path("favicon/16x16.png") sizes="16x16"
		link rel="icon" type="image/png" href=asset_path("favicon/32x32.png") sizes="32x32"
		
		link rel="icon" type="image/png" href=asset_path("favicon/96x96.png") sizes="96x96"

		link rel="icon" type="image/png" href=asset_path("favicon/196x196.png") sizes="196x196"
		link rel="icon" type="image/png" href=asset_path("favicon/228x228.png") sizes="228x228"

		
		link rel="apple-touch-icon-precomposed" type="image/png" href=asset_path("favicon/76x76.png") sizes="76x76"
		link rel="apple-touch-icon-precomposed" type="image/png" href=asset_path("favicon/180x180.png") sizes="180x180"
		
	body
		.main-wrapper#intro role="main"
			= yield
		= render "cookies_popup"
		= render "success_popup_wrap"
		= render "order_popup"
		= render "popup_be_partner"
		= render "footer"
		= javascript_include_tag "application", 'data-turbolinks-track' => true
